* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Qwitcher Grypen", cursive;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: #5c4b99;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #cec2f8;
}

nav .logo {
  font-family: "Caveat", cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #cec2f8;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: #e6e0ff;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #cec2f8;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 786px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: black;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    z-index: -9999;
    background-color: #5c4b99;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
